<?xml version="1.0" encoding="UTF-8"?>
<Configuration name="quizkiLog4j2Config" status="WARN" monitorInterval="10">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
    <File name="quizkiLog" fileName="logs/quizki.log">
      <PatternLayout>
        <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
      </PatternLayout>
    </File>    
  </Appenders>
  <Loggers>
	<Logger name="com.haxwell.apps" level="TRACE"/>

    <Root level="ERROR">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="quizkiLog"/>
    </Root>

  </Loggers>
</Configuration>
