<div>
	<div id="topicsSwitch" class="inline span1 switch-square" data-on-label="<i class='icon-ok greenText' style='font-size:1.5em;'></i>" data-off-label="<i style='font-size:1.5em;' class='icon-remove redText'></i>">
		<input id="onlyMyTopicsFilter" class="checkbox" type="checkbox" checked/>
	</div>

	<!--  input type="checkbox"  value="val">Only My Topics<br/>  -->
	<input class="span3" type="text" id="topicContainsFilter" placeholder="Search Topic List..." style="margin-top:5px; margin-left:5px; margin-right:5px;"/>
</div>