
<div id="id_enterNewChoiceDiv">
	<input id="enterAnswerTextField" class="span6 textInputField" type="text" name="choiceText" size="35" maxlength="998" placeholder="Enter answer.."/>
	<div id="idNewChoiceCorrectnessSlider" class="switch switch-square" data-on-label="<i class='icon-ok greenText' style='font-size:1.5em;'></i>" data-off-label="<i style='font-size:1.5em;' class='icon-remove redText'></i>">
		<input type="checkbox" checked <%- disabled %> />
	</div>
	<button id="submitNewChoiceBtn" class="btn submitAnswer" type="submit" name="button">
		<i class="icon-plus icon-white"></i>
	</button>
	
	<br/>
</div>