
		<li class="choiceItem span7" id="<%- id %>" >
			<div>
				<div id="switch<%- id %>" class="inline span1 switch-square" data-on-label="<i class='icon-ok greenText' style='font-size:1.5em;'></i>" data-off-label="<i style='font-size:1.5em;' class='icon-remove redText'></i>">
					<input class="checkbox" type="checkbox" checked disabled />
				</div>
				<div class="phraseDiv">
					<input id="phraseTextField<%- id %>" class="phraseTextField" type="text" value="<%- answer %>"/>
				</div>
			</div>
		</li>
		