
		<li class="choiceItem span7" id="<%- id %>" >
			<div>
				<div id="switch<%- id %>" class="inline span1 switch-square" data-on-label="<i class='icon-ok greenText' style='font-size:1.5em;'></i>" data-off-label="<i style='font-size:1.5em;' class='icon-remove redText'></i>">
					<input class="checkbox" type="checkbox" <%- checked %> <%- disabled %> />
				</div>
				<div class="choiceTextDiv">
					<div id="_choiceText<%- id %>" class="inline span4 view">
					<%- text %>
					</div>
				</div>
			</div>
		</li>
		