
	<div>
		<button id="firstBtn" value="<< First" type="button" class="btn btn-medium <%- hidden %>" <%- disabled %> >&lt;&lt; First</button>
		<button id="prevBtn" value="< Prev" type="button" class="btn btn-medium" style="margin-right:5px;" <%- disabled %> >&lt; Prev</button>
		<input id="jumpToIndex_Input" class="span1 <%- hidden %>" type="text" style="margin-top:5px; margin-left:5px; margin-right:5px;"/>
		<button id="nextBtn" value="Next >" type="button" class="btn btn-medium" style="margin-left:5px;" <%- disabled %> >Next &gt;</button>
		<button id="lastBtn" value="Last >>" type="button" class="btn btn-medium <%- hidden %>" <%- disabled %> > Last &gt;&gt;</button>
	</div>