			<div class="span3">
				Range of Topics<br/>
				<select name="type" id="rangeOfTopicsSelectBox" <%- disabled %> >
					<option value="0">All</option>
					<option value="1">Mine</option>
				</select>
				<br/>
				Search Topics<br/>
				<input class="span3" type="text" id="topicContainsFilter" placeholder="Search Topic List..." style="margin-top:5px; margin-left:5px; margin-right:5px;"/>
				<br/>
				Max. Question Difficulty<br/>
				<select name="type" id="maxQuestionDifficultySelectBox">
					<option value="1">Junior</option>
					<option value="2">Intermediate</option>
					<option value="3">Senior</option>
					<option value="4">Guru</option>
				</select>
				
				Max. Number of Questions<br/>
				<input class="span1" id="spinner" name="maxQuestions">
			</div>	
