
<div class="choiceItem">
	<li>
		<table>
					<tr id="switchContainerXXX"><div class="span5">
					
					<td>
					<div id="switchXXX" class="inline span1 switch-square" data-on-label="<i class='icon-ok greenText' style='font-size:1.5em;'></i>" data-off-label="<i style='font-size:1.5em;' class='icon-remove redText'></i>">
						<input type="checkbox" checked/>
					</div>
					</td>
					<td>
					<div id="switchTextDivXXX" class="inline span4">
					..
					</div>
					</td>
					<td>
						<div id="choiceBtnDiv">
						<button type="submit" class="btn btn-secondary btn-small choice_edit_button" id="choice_edit_button_ROWNUM" name="choiceButton_OBJID" value="Edit Choice"><i class="icon-pencil"></i></button>
						<button type="submit" class="btn btn-secondary btn-small choice_delete_button" id="choice_delete_button_ROWNUM" name="choiceButton_OBJID" value="Delete Choice"><i class="icon-remove"></i></button>						
						</div>
					</td>
				</div></tr>
		</table>				
	</li>
</div>