	<div id="difficultyBtnGroup" class="btn-group" data-toggle="buttons-radio">
		<button id="difficultyBtn1" value="1" type="button" class="btn btn-small btn-primary active">Junior</button>
		<button id="difficultyBtn2" value="2" type="button" class="btn btn-small btn-primary">Intermediate</button>
		<button id="difficultyBtn3" value="3" type="button" class="btn btn-small btn-primary">Well Versed</button>
		<button id="difficultyBtn4" value="4" type="button" class="btn btn-small btn-primary">Guru</button>
	</div>					
