	<div id="difficultyBtnGroup" class="btn-group" data-toggle="buttons-radio">
		<button id="difficultyBtn1" value="1" type="button" class="btn difficultyBtn btn-small btn-primary active" <%- disabled %> >Junior</button>
		<button id="difficultyBtn2" value="2" type="button" class="btn difficultyBtn btn-small btn-primary" <%- disabled %> >Intermediate</button>
		<button id="difficultyBtn3" value="3" type="button" class="btn difficultyBtn btn-small btn-primary" <%- disabled %> >Well Versed</button>
		<button id="difficultyBtn4" value="4" type="button" class="btn difficultyBtn btn-small btn-primary" <%- disabled %> >Guru</button>
	</div>					
