
.mainContentArea {
	margin-right:5%;
	margin-left:5%;
	font-size:12px;
}

.tab-content {
  border: 0px solid #ddd;
  border-radius: 0px;
  margin-bottom: 0px;
  padding: 0px 0px 0px;
  position: relative;
  z-index: 1;
}

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus {
  color: #ffffff;
  background-color: #227faf;	
}

/* 4668 */
.table .filter-row > td {
  background-color: #dadfe9;
  padding-bottom: 0px;
}
