
.entityAttributeHeaderName {
	font-family: "wf_SegoeUISemilight", "wf_SegoeUI", "Segoe UI Semilight", "Segoe WP Semilight", "Segoe UI", "Segoe", "Segoe WP", Arial, Helvetica, Sans-Serif;
	text-transform: uppercase;
	font-size: 0.85em;	
}

.btn.submitAnswer {
  font-size: 16.996px;
  /* 17px */

  line-height: 20px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 2px;
  padding-top: 8px;
}

.view {
	position:relative;
	
}

input.editing .edit {
	width:100%;
}

.choiceItemList {
	list-style-type:none;
}

.editing .edit {
	display:block;
}

.editing .view {
	display:none;
}

.hideForEditing.edit {
	display:none;
}

/* This is used by questionChoiceItem.. refactor that */
input.edit.inputEdit {
	display:none;
}

button.btn.well_add_button {
	position:relative;
	right:12px;
	top:14px;
	visibility:hidden;
}

div.well:hover button.btn.well_add_button {
	visibility:visible;
}

.destroyBtn {
	position:relative;
	display:none;
}

li:hover .destroyBtn {
	display:block;
}

button.choice_delete_button {
	position:absolute;
	right: 1px;
}