.has-switch span.switch-left {
	color:#f5f5f5;
	background-color:#f5f5f5;
}

.has-switch span.switch-right {
	color:#f5f5f5;
	background-color:#f5f5f5;
}

div.switch-on {
	color:#f5f5f5;
	background-color:#f5f5f5;
}

