
/* 24 */
.fui-triangle-up,
.fui-triangle-up-small,
.fui-triangle-right-large,
.fui-triangle-left-large,
.fui-triangle-down,
.fui-info,
.fui-alert,
.fui-question,
.fui-window,
.fui-windows,
.fui-arrow-right,
.fui-arrow-left,
.fui-loop,
.fui-cmd,
.fui-mic,
.fui-triangle-down-small,
.fui-check-inverted,
.fui-heart,
.fui-location,
.fui-plus,
.fui-check,
.fui-cross,
.fui-list,
.fui-new,
.fui-video,
.fui-photo,
.fui-volume,
.fui-time,
.fui-eye,
.fui-chat,
.fui-home,
.fui-upload,
.fui-search,
.fui-user,
.fui-mail,
.fui-lock,
.fui-power,
.fui-star,
.fui-calendar,
.fui-gear,
.fui-book,
.fui-exit,
.fui-trash,
.fui-folder,
.fui-bubble,
.fui-cross-inverted,
.fui-plus-inverted,
.fui-export,
.fui-radio-unchecked,
.fui-radio-checked,
.fui-checkbox-unchecked,
.fui-checkbox-checked,
.fui-flat,
.fui-calendar-solid,
.fui-star-2,
.fui-credit-card,
.fui-clip,
.fui-link,
.fui-pause,
.fui-play,
.fui-tag,
.fui-document,
.fui-image,
.fui-facebook,
.fui-youtube,
.fui-vimeo,
.fui-twitter,
.fui-stumbleupon,
.fui-spotify,
.fui-skype,
.fui-pinterest,
.fui-path,
.fui-myspace,
.fui-linkedin,
.fui-googleplus,
.fui-dribbble,
.fui-blogger,
.fui-behance,
.fui-list-thumbnailed,
.fui-list-small-thumbnails,
.fui-list-numbered,
.fui-list-large-thumbnails,
.fui-list-columned,
.fui-list-bulleted {
  display: inline-block;
  font-family: 'Flat-UI-Icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}

/* 213 */
.fui-search:before {
  content: "\e01c";
}

/* 401 */
button {
  font-family: "wf_SegoeUISemilight", "wf_SegoeUI", "Segoe UI Semilight", "Segoe WP Semilight", "Segoe UI", "Segoe", "Segoe WP", Arial, Helvetica, Sans-Serif;
  font-size: 15px;
}


/* 581 */
.btn,
.btn-group > .btn,
.btn-group > .dropdown-menu,
.btn-group > .popover {
  font-size: 13.004999999999999px;
  /* 13px */

}

/* 589 */
.btn {
  border: none;
  background: #227faf;
  color: #ffffff;
  padding: 4px 10px;
  line-height: 22px;
  text-decoration: none;
  text-shadow: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden;
}

/* 611 */
.btn:hover,
.btn:focus,
.btn-group:focus .btn.dropdown-toggle {
  background-color: #4392bb;
  color: #ffffff;
  outline: none;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden;
}

/* 623 */
.btn:active,
.btn-group.open .btn.dropdown-toggle,
.btn.active {
  background-color: #1d6c95;
  color: rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* 668 */
.btn.btn-small {
  /* 12px */

  line-height: 12px;
  padding: 4px 5px;
  color: #414151;
  font-size: 12px;
  text-transform: none;
  letter-spacing: normal;
}

/* 678 */
.btn.btn-small > [class^="fui-"] {
  margin: 0px;
}

/* 698 */
.btn > [class^="fui-"] {
  margin: 0 5px;
  position: relative;
  vertical-align: top;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

/* 720 */
.btn.btn-secondary {
  background-color: #f9fcff;
}

/* 723 */
.btn.btn-secondary:hover,
.btn.btn-secondary:focus,
.btn-group:focus .btn.btn-secondary.dropdown-toggle {
  background-color: #edf0f3;
}

/* 728 */
.btn.btn-secondary:active,
.btn-group.open .btn.btn-secondary.dropdown-toggle,
.btn.btn-secondary.active {
  background-color: #edf0f3;
}

/* 830 */
.btn-group > .btn {
  border-radius: 0;
  text-align: center;
}
