
a {
  color: #16a085;
  text-decoration: none;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden;
}

a:hover {
  color: #1abc9c;
  text-decoration: none;
}
