
input,
textarea {
  font-family: "wf_SegoeUISemilight", "wf_SegoeUI", "Segoe UI Semilight", "Segoe WP Semilight", "Segoe UI", "Segoe", "Segoe WP", Arial, Helvetica, Sans-Serif;
  font-size: 15px;
}

input,
textarea,
.uneditable-input {
  width: 192px;
}

/* 1864 */
.control-group.focus textarea,
.control-group.focus input[type="text"],
.control-group.focus input[type="password"],
.control-group.focus input[type="datetime"],
.control-group.focus input[type="datetime-local"],
.control-group.focus input[type="date"],
.control-group.focus input[type="month"],
.control-group.focus input[type="time"],
.control-group.focus input[type="week"],
.control-group.focus input[type="number"],
.control-group.focus input[type="email"],
.control-group.focus input[type="url"],
.control-group.focus input[type="search"],
.control-group.focus input[type="tel"],
.control-group.focus input[type="color"],
.control-group.focus .uneditable-input,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: #1abc9c;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* 1920 */
textarea.flat,
input[type="text"].flat,
input[type="password"].flat,
input[type="datetime"].flat,
input[type="datetime-local"].flat,
input[type="date"].flat,
input[type="month"].flat,
input[type="time"].flat,
input[type="week"].flat,
input[type="number"].flat,
input[type="email"].flat,
input[type="url"].flat,
input[type="search"].flat,
input[type="tel"].flat,
input[type="color"].flat,
.uneditable-input.flat {
  border-color: transparent;
}

/* 1938 */
textarea.flat:hover,
input[type="text"].flat:hover,
input[type="password"].flat:hover,
input[type="datetime"].flat:hover,
input[type="datetime-local"].flat:hover,
input[type="date"].flat:hover,
input[type="month"].flat:hover,
input[type="time"].flat:hover,
input[type="week"].flat:hover,
input[type="number"].flat:hover,
input[type="email"].flat:hover,
input[type="url"].flat:hover,
input[type="search"].flat:hover,
input[type="tel"].flat:hover,
input[type="color"].flat:hover,
.uneditable-input.flat:hover {
  border-color: transparent;
}

/* 1956 */
textarea.flat:focus,
input[type="text"].flat:focus,
input[type="password"].flat:focus,
input[type="datetime"].flat:focus,
input[type="datetime-local"].flat:focus,
input[type="date"].flat:focus,
input[type="month"].flat:focus,
input[type="time"].flat:focus,
input[type="week"].flat:focus,
input[type="number"].flat:focus,
input[type="email"].flat:focus,
input[type="url"].flat:focus,
input[type="search"].flat:focus,
input[type="tel"].flat:focus,
input[type="color"].flat:focus,
.uneditable-input.flat:focus {
  border-color: #1abc9c;
}

.input-append input:focus,
.input-prepend input:focus,
.input-append select:focus,
.input-prepend select:focus,
.input-append .uneditable-input:focus,
.input-prepend .uneditable-input:focus {
  z-index: 2;
}

.input-append input,
.input-append select,
.input-append .uneditable-input {
  -webkit-border-radius: 2px 0 0 2px;
  -moz-border-radius: 2px 0 0 2px;
  border-radius: 2px 0 0 2px;
}

.control-group.small textarea,
.control-group.small input[type="text"],
.control-group.small input[type="password"],
.control-group.small input[type="datetime"],
.control-group.small input[type="datetime-local"],
.control-group.small input[type="date"],
.control-group.small input[type="month"],
.control-group.small input[type="time"],
.control-group.small input[type="week"],
.control-group.small input[type="number"],
.control-group.small input[type="email"],
.control-group.small input[type="url"],
.control-group.small input[type="search"],
.control-group.small input[type="tel"],
.control-group.small input[type="color"],
.control-group.small .uneditable-input,
textarea.small,
input[type="text"].small,
input[type="password"].small,
input[type="datetime"].small,
input[type="datetime-local"].small,
input[type="date"].small,
input[type="month"].small,
input[type="time"].small,
input[type="week"].small,
input[type="number"].small,
input[type="email"].small,
input[type="url"].small,
input[type="search"].small,
input[type="tel"].small,
input[type="color"].small,
.uneditable-input.small {
  font-size: 12px;
  /* 12px */

  padding: 3px 5px 1px;
  text-indent: 0px;
  height: 12px;
}

/* 1729 */
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  border: 2px solid #bdc3c7;
  background-color: #f9fcff;
  color: #414151;
  font-family: "wf_SegoeUISemilight", "wf_SegoeUI", "Segoe UI Semilight", "Segoe WP Semilight", "Segoe UI", "Segoe", "Segoe WP", Arial, Helvetica, Sans-Serif;
  font-size: 15px;
  padding: 3px 5px;
  text-indent: 5px;
  -webkit-appearance: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: border .25s linear, color .25s linear;
  -moz-transition: border .25s linear, color .25s linear;
  -o-transition: border .25s linear, color .25s linear;
  transition: border .25s linear, color .25s linear;
  -webkit-backface-visibility: hidden;
}

/* 2572 */
.input-append,
.input-prepend {
  display: inline-block;
  margin-bottom: 1.34;
  vertical-align: middle;
  font-size: 0;
  white-space: nowrap;
}

/* 2580 */
.input-append input,
.input-prepend input,
.input-append select,
.input-prepend select,
.input-append .uneditable-input,
.input-prepend .uneditable-input,
.input-append .dropdown-menu,
.input-prepend .dropdown-menu,
.input-append .popover,
.input-prepend .popover {
  font-size: 15px;
}

/* 2606 */
.input-append input,
.input-prepend input,
.input-append select,
.input-prepend select,
.input-append .uneditable-input,
.input-prepend .uneditable-input {
  position: relative;
  margin-bottom: 0;
  *margin-left: 0;
  vertical-align: top;
  -webkit-border-radius: 0 2px 2px 0;
  -moz-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
}

/* 2676 */
.input-append .add-on,
.input-prepend .add-on,
.input-append .btn,
.input-prepend .btn,
.input-append .btn-group > .dropdown-toggle,
.input-prepend .btn-group > .dropdown-toggle {
  vertical-align: top;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

/* 2751 */
.input-append .add-on,
.input-append .btn,
.input-append .btn-group {
  margin-left: -2px;
}

/* 2760 */
.input-append .btn:last-child {
  -webkit-border-radius: 0 2px 2px 0;
  -moz-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
}
