div.well {
	padding:1px;
	margin-bottom:2px;
}

div.well > ul {
	margin-left:1px;
	margin-bottom:2px;
}

div.wellAttribute {
	display:inline;
	padding:4px;
}

button.btn.well_add_button {
	visibility:hidden;
}

input {
	width:88%;
}

.entryField.edit.well {
	display:none;
}
