<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>quizki</display-name>
  
	<welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
  
  <listener>
    <listener-class>org.apache.shiro.web.env.EnvironmentLoaderListener</listener-class>
  </listener>
  <filter>
    <filter-name>ShiroFilter</filter-name>
    <filter-class>org.apache.shiro.web.servlet.ShiroFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ShiroFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>SetDoNotCacheAttributes</filter-name>
    <filter-class>com.haxwell.apps.questions.servlets.filters.SetDoNotCacheAttributesFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SetDoNotCacheAttributes</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>MostRecentlyRequestedPageFilter</filter-name>
    <filter-class>com.haxwell.apps.questions.servlets.filters.MostRecentlyRequestedPageFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>MostRecentlyRequestedPageFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>IsUserAuthenticatedFilter</filter-name>
    <filter-class>com.haxwell.apps.questions.servlets.filters.UserIsAuthenticatedFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>IsUserAuthenticatedFilter</filter-name>
    <url-pattern>/secured/question.jsp</url-pattern>
    <url-pattern>/secured/exam.jsp</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>FireIndexPageReachedEventFilter</filter-name>
    <filter-class>com.haxwell.apps.questions.servlets.filters.FireIndexPageReachedEventFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FireIndexPageReachedEventFilter</filter-name>
    <url-pattern>/index.jsp</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>ExamNoLongerRunningFilter</filter-name>
    <filter-class>com.haxwell.apps.questions.servlets.filters.ExamNoLongerRunningFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ExamNoLongerRunningFilter</filter-name>
    <url-pattern>/secured/question.jsp</url-pattern>
    <url-pattern>/secured/listQuestions.jsp</url-pattern>
    <url-pattern>/secured/exam.jsp</url-pattern>
    <url-pattern>/index.jsp</url-pattern>
    <url-pattern>/login.jsp</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>InitializeSessionForProfilePagesFilter</filter-name>
    <filter-class>com.haxwell.apps.questions.servlets.filters.InitializeSessionForProfilePagesFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>InitializeSessionForProfilePagesFilter</filter-name>
    <url-pattern>/secured/profile.jsp</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>DisplayQuestionFilter</filter-name>
    <filter-class>com.haxwell.apps.questions.servlets.filters.DisplayQuestionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>DisplayQuestionFilter</filter-name>
    <url-pattern>/displayQuestion.jsp</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>EnsurePaginationDataObjectsExistInSessionFilter</filter-name>
    <filter-class>com.haxwell.apps.questions.servlets.filters.EnsurePaginationDataObjectsExistInSessionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EnsurePaginationDataObjectsExistInSessionFilter</filter-name>
    <url-pattern>/listExams.jsp</url-pattern>
    <url-pattern>/secured/listQuestions.jsp</url-pattern>
    <url-pattern>/secured/exam.jsp</url-pattern>
    <url-pattern>/secured/profile.jsp</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>InitializeSessionForCreatingAnExamFilter</filter-name>
    <filter-class>com.haxwell.apps.questions.servlets.filters.InitializeSessionForCreatingAnExamFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>InitializeSessionForCreatingAnExamFilter</filter-name>
    <url-pattern>/secured/exam.jsp</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>InitializeSessionForGeneratingAnExamFilter</filter-name>
    <filter-class>com.haxwell.apps.questions.servlets.filters.InitializeSessionForGeneratingAnExamFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>InitializeSessionForGeneratingAnExamFilter</filter-name>
    <url-pattern>/generateExam.jsp</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>InitializeSessionForCreatingAQuestionFilter</filter-name>
    <filter-class>com.haxwell.apps.questions.servlets.filters.InitializeSessionForCreatingAQuestionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>InitializeSessionForCreatingAQuestionFilter</filter-name>
    <url-pattern>/secured/question.jsp</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>InitializeSessionForRunningAnExamFilter</filter-name>
    <filter-class>com.haxwell.apps.questions.servlets.filters.InitializeSessionForRunningAnExamFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>InitializeSessionForRunningAnExamFilter</filter-name>
    <url-pattern>/beginExam.jsp</url-pattern>
    <url-pattern>/takeExam.jsp</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>ListProfileQuestionsFilter</filter-name>
    <filter-class>com.haxwell.apps.questions.servlets.filters.ListProfileQuestionsFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ListProfileQuestionsFilter</filter-name>
    <url-pattern>/secured/profile.jsp</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>ListExamQuestionsFilter</filter-name>
    <filter-class>com.haxwell.apps.questions.servlets.filters.ListExamQuestionsFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ListExamQuestionsFilter</filter-name>
    <url-pattern>/secured/exam.jsp</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>ListExamsFilter</filter-name>
    <filter-class>com.haxwell.apps.questions.servlets.filters.ListExamsFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ListExamsFilter</filter-name>
    <url-pattern>/listExams.jsp</url-pattern>
    <url-pattern>/secured/profile.jsp</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>ListTopicsFilter</filter-name>
    <filter-class>com.haxwell.apps.questions.servlets.filters.ListTopicsFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ListTopicsFilter</filter-name>
    <url-pattern>/index.jsp</url-pattern>
    <url-pattern>/generateExam.jsp</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>PopulateFieldNamesForChoicesFilter</filter-name>
    <filter-class>com.haxwell.apps.questions.servlets.filters.PopulateFieldNamesForChoicesFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>PopulateFieldNamesForChoicesFilter</filter-name>
    <url-pattern>/takeExam.jsp</url-pattern>
    <url-pattern>/displayQuestion.jsp</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <filter>
  <filter-name>AddRandomIndexToChoiceArrayFilter</filter-name>
    <filter-class>com.haxwell.apps.questions.servlets.filters.AddRandomIndexToChoiceArrayFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AddRandomIndexToChoiceArrayFilter</filter-name>
    <url-pattern>/takeExam.jsp</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  
<!-- SPRING APPLICATION CONTEXT CREATING LISTENER -->

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/applicationContext.xml</param-value>
	</context-param>
	
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
<!-- QUIZKI LISTENERS -->

	<listener>
		<listener-class>com.haxwell.apps.questions.events.listeners.AttributeListener</listener-class>
	</listener>
	
<!-- SERVLET DEFINITIONS -->

  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<servlet-class>com.haxwell.apps.questions.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>BeginExamServlet</servlet-name>
  	<servlet-class>com.haxwell.apps.questions.servlets.BeginExamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>BeginExamServlet</servlet-name>
  	<url-pattern>/BeginExamServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>ExamServlet</servlet-name>
  	<servlet-class>com.haxwell.apps.questions.servlets.ExamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ExamServlet</servlet-name>
  	<url-pattern>/secured/ExamServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>GenerateExamServlet</servlet-name>
  	<servlet-class>com.haxwell.apps.questions.servlets.GenerateExamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GenerateExamServlet</servlet-name>
  	<url-pattern>/GenerateExamServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>ListExamsServlet</servlet-name>
  	<servlet-class>com.haxwell.apps.questions.servlets.ListExamsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ListExamsServlet</servlet-name>
  	<url-pattern>/ListExamsServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>ListQuestionsServlet</servlet-name>
  	<servlet-class>com.haxwell.apps.questions.servlets.ListQuestionsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ListQuestionsServlet</servlet-name>
  	<url-pattern>/ListQuestionsServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>TakeExamServlet</servlet-name>
  	<servlet-class>com.haxwell.apps.questions.servlets.TakeExamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>TakeExamServlet</servlet-name>
  	<url-pattern>/TakeExamServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>RegisterUserServlet</servlet-name>
  	<servlet-class>com.haxwell.apps.questions.servlets.RegisterUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>RegisterUserServlet</servlet-name>
  	<url-pattern>/RegisterUserServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>QuestionServlet</servlet-name>
  	<servlet-class>com.haxwell.apps.questions.servlets.QuestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>QuestionServlet</servlet-name>
  	<url-pattern>/secured/QuestionServlet</url-pattern>
  </servlet-mapping>

  <servlet>
  	<servlet-name>ProfileQuestionsServlet</servlet-name>
  	<servlet-class>com.haxwell.apps.questions.servlets.ProfileQuestionsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ProfileQuestionsServlet</servlet-name>
  	<url-pattern>/secured/ProfileQuestionsServlet</url-pattern>
  </servlet-mapping>

</web-app>

