<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>quizki</display-name>
  
	<welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
  
  <listener>
    <listener-class>org.apache.shiro.web.env.EnvironmentLoaderListener</listener-class>
  </listener>
  <filter>
    <filter-name>ShiroFilter</filter-name>
    <filter-class>org.apache.shiro.web.servlet.ShiroFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ShiroFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>MostRecentlyRequestedPageFilter</filter-name>
    <filter-class>com.haxwell.apps.questions.servlets.filters.MostRecentlyRequestedPageFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>MostRecentlyRequestedPageFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>IsUserAuthenticatedFilter</filter-name>
    <filter-class>com.haxwell.apps.questions.servlets.filters.UserIsAuthenticatedFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>IsUserAuthenticatedFilter</filter-name>
    <url-pattern>/secured/createQuestion.jsp</url-pattern>
    <url-pattern>/secured/listQuestions.jsp</url-pattern>
    <url-pattern>/secured/createExam.jsp</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>ResetStateFilter</filter-name>
    <filter-class>com.haxwell.apps.questions.servlets.filters.ResetStateFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ResetStateFilter</filter-name>
    <url-pattern>/index.jsp</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>ExamNoLongerRunningFilter</filter-name>
    <filter-class>com.haxwell.apps.questions.servlets.filters.ExamNoLongerRunningFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ExamNoLongerRunningFilter</filter-name>
    <url-pattern>/secured/createQuestion.jsp</url-pattern>
    <url-pattern>/secured/listQuestions.jsp</url-pattern>
    <url-pattern>/secured/createExam.jsp</url-pattern>
    <url-pattern>/index.jsp</url-pattern>
    <url-pattern>/login.jsp</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>DisplayQuestionFilter</filter-name>
    <filter-class>com.haxwell.apps.questions.servlets.filters.DisplayQuestionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>DisplayQuestionFilter</filter-name>
    <url-pattern>/displayQuestion.jsp</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>ListQuestionsFilter</filter-name>
    <filter-class>com.haxwell.apps.questions.servlets.filters.ListQuestionsFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ListQuestionsFilter</filter-name>
    <url-pattern>/secured/listQuestions.jsp</url-pattern>
    <url-pattern>/secured/createExam.jsp</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>ListExamsFilter</filter-name>
    <filter-class>com.haxwell.apps.questions.servlets.filters.ListExamsFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ListExamsFilter</filter-name>
    <url-pattern>/listExams.jsp</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>ListTopicsFilter</filter-name>
    <filter-class>com.haxwell.apps.questions.servlets.filters.ListTopicsFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ListTopicsFilter</filter-name>
    <url-pattern>/index.jsp</url-pattern>
    <url-pattern>/generateExam.jsp</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>InitializeSessionForCreatingAnExamFilter</filter-name>
    <filter-class>com.haxwell.apps.questions.servlets.filters.InitializeSessionForCreatingAnExamFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>InitializeSessionForCreatingAnExamFilter</filter-name>
    <url-pattern>/secured/createExam.jsp</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>InitializeSessionForGeneratingAnExamFilter</filter-name>
    <filter-class>com.haxwell.apps.questions.servlets.filters.InitializeSessionForGeneratingAnExamFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>InitializeSessionForGeneratingAnExamFilter</filter-name>
    <url-pattern>/generateExam.jsp</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>InitializeSessionForCreatingAQuestionFilter</filter-name>
    <filter-class>com.haxwell.apps.questions.servlets.filters.InitializeSessionForCreatingAQuestionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>InitializeSessionForCreatingAQuestionFilter</filter-name>
    <url-pattern>/secured/createQuestion.jsp</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>InitializeSessionForRunningAnExamFilter</filter-name>
    <filter-class>com.haxwell.apps.questions.servlets.filters.InitializeSessionForRunningAnExamFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>InitializeSessionForRunningAnExamFilter</filter-name>
    <url-pattern>/beginExam.jsp</url-pattern>
    <url-pattern>/takeExam.jsp</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>PopulateFieldNamesForChoicesFilter</filter-name>
    <filter-class>com.haxwell.apps.questions.servlets.filters.PopulateFieldNamesForChoicesFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>PopulateFieldNamesForChoicesFilter</filter-name>
    <url-pattern>/takeExam.jsp</url-pattern>
    <url-pattern>/displayQuestion.jsp</url-pattern>
  </filter-mapping>
  
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<servlet-class>com.haxwell.apps.questions.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/quizki/LoginServlet</url-pattern>
  </servlet-mapping>
  
</web-app>